.about-us {
  width: 60%;
  text-align: justify;
  margin: auto;
    margin-bottom: 100px;
}



@media (min-width: 100px) and (max-width: 575px) {
  .about-us {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 1199px) {
  .about-us {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }

}
