.card {
  background-size: cover;
  background-position: center;
  height: 320px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 22px;
  color: #ECECEC;
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  text-transform: uppercase;
  padding-bottom: 8px;
/*    filter: grayscale(100%);
*/
}
