footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #505951;
  color: #ECECEC;
  padding: 1rem 5rem;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright p {
  padding-left: 1em;
}


@media (min-width: 100px) and (max-width: 1199px) {
  footer, .copyright {
    display: block;
    text-align: center;
    padding-bottom: 18px;
  }
  .copyright p {
    margin: 0;
  }
}
